@model HomeShop.Models.Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About_Us</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/simple-sidebar.css" rel="stylesheet">

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>

    <div class="grid">

        <div>
            <header>
                <h3 class="text-center">About Us</h3>
                <hr class="hr--small">
            </header>
            <br />
            <div class="text-center" style="margin-left:120px; margin-right:120px; font-size:12px" >
                <p><strong>Advent:</strong> [ˈædvɛnt -vənt] n. a coming into place, view, or being.</p>
                <p><strong>Royal:</strong> /ˈroiəl/ adj. having the status of a king or queen or a member of their family.</p>
                <p>Advent Royals is a progressive streetwear brand based out of Dallas. Started in December 2013, Advent Royals has developed a loyal following and is recurrently seeking to create innovative designs.</p>
                <p>Advent Royals exemplifies forward thinking and continuous improvement. Just like we strive to continually improve upon our products, our work also strives to inspire others to challenge themselves daily. It doesn’t matter where you’ve been or where you come from, we all can achieve greatness.</p>
                <p>So what are you waiting for?</p>
                <p>Go Forward.</p>
            </div>

        </div>

    </div>
</body>
</html>
